
  <!--To work with angular forms,you have to import the forms module
  Any time a form tag is used, angular attaches an ngForm directive to 
  the form tag which gives us valuable information about that particular form
  It tells what the values of the different form controls are and whether the values are valid
  or invalid
  We get a hold of a reference to this ngForm directive using a template reference variable
  ngForm directive gives us access to the values of the form controls using the value property
  We use the ngModel directive to let angular know of the form controls to be tracked
  With the ngModel directive, the name attribute is very much necessary
  When you want to create a group or sub group within a from you use ngModelGroup directive
  Data binding in template driven form we have three directives: ngForm, ngModel and ngFormGroup
  To bind data to a model, we first generate a model class-->
  <div class="container-fluid">
    <H1>Code Particles Enrollment Form</H1>
    <form #userForm="ngForm">
      {{userForm.value | json }}<!--binding data with ngForm directive-->

      <hr>
      {{userModel | json }}<!--binding data to a model
        use property binding to bind the properties of the model to the ngModel directive
        we use two way binding to make the model and the view(angular object) in sync-->

      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control"name="userName" [(ngModel)] = "userModel.name">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)] = "userModel.email">
      </div>

      <div class="form-group">
        <label>Phone</label>
        <input type="tel" class="form-control" name="phone" [(ngModel)] = "userModel.phone">
      </div>
     
      <div class="form-group">
        <select  class="custom-select" name="topic" [(ngModel)] = "userModel.topic">
          <option value="">I am interested in</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>

      </div>

    <div class="mb-3">
      <label>Time Preference</label>
        <div class="form-check">
          <input  class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)] = "userModel.timePreference">
          <label  class="form-check-label">Morning (9AM-12PM)</label>
        </div>

        <div class="form-check">
            <input  class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)] = "userModel.timePreference">
            <label  class="form-check-label">Evening (5PM-8PM)</label>
        </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" name="subscribe" type="checkbox" [(ngModel)] = "userModel.subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>
    <button class="btn btn-primary" type="submit">Submit Form</button>
      
    </form>
  </div>

  <!--Form validation in template driven forms:
  Angular helps with form validation by tracking 
  the state of the form controls and applying the appropriate classes
  Classes applied on form controls based on  it's state and validity are:
  STATE                          CLASS IF TRUE           CLASS IF FALSE
The control has been visited     ng-touched              ng-untouched
The control's value has changed  ng-dirty                ng-pristine
The control's value is valid     ng-valid                ng-invalid
Although these classes can be used to provide visual feedback, Angular provides an alternative.
For each of the classes,Angular provides an associated property on the ngModel directive
The property is basically the same with the class with the ng- removed-->
  <div class="container-fluid">
    <H1>Code Particles Enrollment Form</H1>
    <form #userForm="ngForm">
      
      <div class="form-group">
        <label>Name</label><!--add a template reference variable #name to the name input
           element then bind to the input className property
          To test for validity, we have to add some sort of a rule,that is required
  NOTE: We get access to the ngModel properties by creating a reference to the ngModel directive
        Then you can easily bind to the different properties
      
      VALIDATION WITH VISUAL FEEDBACK
      A good user experience is to visually indicate to the user if a form field is 
      invalid when they enter data-->
        <input type="text"required #name="ngModel"[class.is-invalid]="name.invalid && name.touched"
         class="form-control "name="userName" [(ngModel)] = "userModel.name">
         <small class="text-danger" [class.d-none]="name.valid || name.untouched">Name is required</small><!--Display an error message-->
      </div>
  <!--To ensure that the class is applied on when the form control is invalid, we use ngModel
     properties coupled with class binding-->
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" [(ngModel)] = "userModel.email">
      </div>

      <div class="form-group"><!--Let us ensure the phone number is 10 digits-->
        <label>Phone</label>
        <input type="tel" #phone="ngModel" pattern="^\d{10}$" required [class.is-invalid]="phone.invalid && phone.touched"
         class="form-control" name="phone" [(ngModel)] = "userModel.phone">
         <!--<small class="text-danger" [class.d-none]="phone.valid || phone.untouched">
           Phone number is required and must be 10 digits</small>-->
           <div *ngIf="phone.errors && (phone.invalid || phone.touched)">
             <small class="text-danger" *ngIf="phone.errors.required">Phone number is required</small>
             <small class="text-danger" *ngIf="phone.errors.pattern">Phone number must be 10 digits</small>

           </div>
      </div>
     
      <div class="form-group"><!--select control validation-->
        <select required #topic="ngModel" [class.is-invalid]="topic.invalid && topic.touched" class="custom-select" name="topic" [(ngModel)] = "userModel.topic">
          <option value="">I am interested in</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
        <small class="text-danger" [class.d-none]="topic.valid || topic.untouched">Please choose a topic</small>
      </div>

    <div class="mb-3">
      <label>Time Preference</label>
        <div class="form-check">
          <input  class="form-check-input" type="radio" name="timePreference" value="morning" [(ngModel)] = "userModel.timePreference">
          <label  class="form-check-label">Morning (9AM-12PM)</label>
        </div>

        <div class="form-check">
            <input  class="form-check-input" type="radio" name="timePreference" value="evening" [(ngModel)] = "userModel.timePreference">
            <label  class="form-check-label">Evening (5PM-8PM)</label>
        </div>
    </div>

    <div class="form-check mb-3">
      <input class="form-check-input" name="subscribe" type="checkbox" [(ngModel)] = "userModel.subscribe">
      <label class="form-check-label">Send me promotional offers</label>
    </div>
    <button class="btn btn-primary" type="submit">Submit Form</button>
      
    </form>
  </div>